article{
    position: absolute;
    top: 100px;
    left: 152px;
    border: 1px solid grey;
    height: 480px;
    width: 1077px;
    padding: 1%;
}
header{
    display: block;
    text-align: center;
    border: 1px solid gray;
    text-decoration: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000000;
}
nav{
    position: absolute;
    display: inline-block;
    border: 1px solid grey;
    width: 140px;
    height: 505px;
    top: 100px;
}
.nav{
    position: absolute;
    padding: 10%;
}
.twt{
    position: absolute;
    top: -50px;
    left: 500px;
}